doctype html
html

  head
    include meta/_head
  body
    .container
       .super-search-line
          form.super-search-line__form
            input.super-search-line__input.input(placeholder="Input any text...")
            button.super-search-line__reset.hidden(type="button")
              i.fa.fa-times 
          button.super-search-line__button.button(type="button",disabled="")
            span.hidden-xs Search
            span.visible-xs 
              i.fa.fa-search
    .container.container--small
      .super-search-line
        form.super-search-line__form
          input.super-search-line__input.input(placeholder="Input any text...")
          button.super-search-line__reset.hidden(type="button")
            i.fa.fa-times 
        button.super-search-line__button.button(type="button",disabled="")
          span.hidden-xs Search
          span.visible-xs 
            i.fa.fa-search
    .container.container--super-small
      .super-search-line
        form.super-search-line__form
          input.super-search-line__input.input(placeholder="Input any text...")
          button.super-search-line__reset.hidden(type="button")
            i.fa.fa-times 
        button.super-search-line__button.button(type="button",disabled="")
          span.hidden-xs Search
          span.visible-xs 
            i.fa.fa-search
    script(src="js/app.js")          