/* Fonts */
$base-font-family = "PT Sans", Tahoma, Helvetica, Arial, sans-serif
$base-font-size = 20px
$base-line-hight = 1.4


/* Colors */
$orange = #D45622
$blue = #42A1E7
$grey = #C2C2C2
$grey-light = #F5F5F5

$base-text-color = #000
$body-bg-color = $grey-light
$main-color = #000



/* Layout */
$sm_width = 600px
$container_width = 960px
$container_min_width = 300px


/* Effects */
$transition-duration = .2s
$mq-retina = "(min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)"